// @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+SC&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cormorant+SC:wght@600&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

//Шрифт по умолчанию
$fontfamily: 'PT Sans';

//Переменные
// $minwidth: 320px;
// $mw: 880;
// $md1: $mw + 12;
// $md2: 750;
// $md3: 767.98;
// $md4: 479.98;

//Обнуление, общие параметры
* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
}
:focus,
:active {
    outline: none;
}
a:focus,
a:active {
    outline: none;
}
aside,
nav,
footer,
header,
section {
    display: block;
}
html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: $minwidth;
    position: relative;
    width: 100%;
}
body {
    font-size: 100%;
    line-height: 1;
    font-family: $fontfamily;
    &.lock {
        overflow: hidden;
        @media (max-width: 768px) {
            width: 100%;
            position: fixed;
            overflow: hidden;
        }
    }
}
input,
button,
textarea {
    font-family: $fontfamily;
}
input::-ms-clear {
    display: none;
}
button {
    cursor: pointer;
}
button::-moz-focus-inner {
    padding: 0;
    border: 0;
}
a,
a:visited {
    text-decoration: none;
}
ul li {
    list-style: none;
}
img {
    vertical-align: top;
}

//Оболочка
.wrapper {
    width: 100%;
    min-height: 100%;
    overflow: hidden;
    // &.loaded {
    // }
}

//Основная сетка
.container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    // @media (max-width:$md1) {max-width: 970px;}
    // @media (max-width:892px) {max-width: 750px;}
    // @media (min-width: 892px) {
    //     background: red;
    // }
    @media (max-width: 750px) {
        max-width: none;
        padding: 0 10px;
    }
}

header {
    padding: 29px 0px 33px 0px;
    background: #fff;
    @media (max-width: 768px) {
        padding: 15px 0 33px 0;
    }
}
.header-top {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        justify-content: space-evenly;
        // padding: 15px 0 0 0;
    }
}
.header-top-lang {
    display: flex;
    @media (max-width: 768px) {
        margin-bottom: 80px;
    }
    @media (min-width: 769px) {
        font-size: 16px;
        margin: 20px 0 0 20px;
    }
}
.header-top-lang a {
    @media (max-width: 350px) {
        font-size: 10px;
        margin: 2px;
    }
}
.header-top-lang__item {
    display: block;
    line-height: 19px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    font-family: 'Bebas';
    letter-spacing: 1px;
    padding: 0px 4px;
    margin: 0px 10px 0px 0px;
    &.active {
        background-color: #000;
        color: #fff;
    }
    @media (max-width: 768px) {
        margin-top: 10px;
        font-size: 10px;
    }
}
.header-top__link {
    font-size: 15px;
    color: #000;
    text-decoration: underline;
    text-transform: uppercase;
    font-family: 'Cormorant SC';
    font-weight: bolder;
    //mine: so that the text fits in the container
    @media (max-width: 768px) {
        font-size: 12px;
        margin-bottom: 20px;
        position: relative;
        z-index: 11;
    }
    @media (min-width: 769px) {
        font-size: 16px;
        margin: 20px 20px 0 0;
    }
}
.header-bottom {
    margin: -10px 0 0 0;
    //mine: so that the logo is in the middle
    @media (max-width: 768px) {
        margin: 0 auto;
        display: block;
    }
    display: flex;
    align-items: center;
    justify-content: space-between;
}
// .header-bottom__column {
//     flex: 0 0 33.333%;
// }

.header-bottom-menu {
    &--right {
        .header-bottom-menu-list {
            margin: 0;
            display: flex;
            justify-content: flex-end;
            text-align: right;
            li {
                //mine: instead of margins
                padding: 10px;
                // margin: 0 0 0 45px !important;
                &:first-child {
                    margin: 0;
                }
            }

            // &:last-child {margin: 0 0 0 45px;}
            // @media (max-width:892px) {
            //     margin: 0 0 0 20px !important;
            // }
            @media (max-width: 768px) {
                display: block;
                text-align: left;
            }
        }
    }
}

.header-bottom-menu-list {
    display: flex;
    li {
        //mine: instead of margins
        padding: 10px;
        // margin: 0 45px 0 0;
    }
    // &:last-child {
    //     margin: 0;
    // }
    @media (max-width: 768px) {
        margin: 30px 0 0 0;
        display: block;
    }
}
.header-bottom-menu__link {
    font-family: 'Cormorant SC';
    color: #000;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    //mine: so that words do not wrap to a new line
    white-space: nowrap;
    @media (max-width: 768px) {
        font-size: 12px;
    }
}
.header-logo {
    position: relative;
    z-index: 11;
    display: block;
    text-align: center;
}
.header-logo__text {
    display: block;
    color: #000;
    font-family: 'Cormorant SC';
    font-size: 10px;
    text-transform: uppercase;
    letter-spacing: 8px;
    @media (max-width: 478px) {
        margin-top: 5px;
    }
}
.header-logo__image {
    display: inline-block;
    margin: 13px 0 22px 0;
    @media (max-width: 478px) {
        margin: 30px 0 5px 0;
        img {
            width: 120px;
        }
    }
}
.header-menu__icon {
    display: none;
}
@media (max-width: 768px) {
    .header-menu__icon {
        display: block;
        position: absolute;
        top: 18px;
        left: 10px;
        width: 30px;
        height: 18px;
        cursor: pointer;
        z-index: 5;
        span {
            transition: all 0.3s ease 0s;
            top: 8px;
            left: 0px;
            position: absolute;
            width: 100%;
            height: 2px;
            background: #000;
            &:first-child {
                top: 0px;
            }
            &:last-child {
                top: auto;
                bottom: 0;
            }
        }
        &.active {
            span {
                transform: scale(0);
                &:first-child {
                    transform: rotate(-45deg);
                    top: 8px;
                }
                &:last-child {
                    transform: rotate(45deg);
                    bottom: 8px;
                }
            }
        }
    }
    .header-menu {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        left: -120%;
        top: 0;
        background-color: #fff;
        padding: 50px 10px 20px 10px;
        transition: all 0.8s ease 0s;
        &.active {
            left: 0;
        }
    }
}
.btn {
    height: 50px;
    line-height: 50px;
    background-color: #000;
    display: inline-block;
    padding: 0 33px;
    font-size: 15px;
    font-family: 'Bebas';
    text-transform: uppercase;
    color: #fff;
    box-sizing: border-box;
    &--w {
        background-color: #fff;
        color: #000;
    }
    &.fw {
        width: 100%;
    }
}
//Основной контент, лого
.private {
    display: flex;
    background-color: #000;
    margin: 0 0 75px 0;
    @media (max-width: 768px) {
        margin: 0 0 40px 0;
    }
}
.private__column {
    flex: 0 0 50%;
    @media (max-width: 768px) {
        flex: 1 1 100%;
        &:first-child {
            display: none;
        }
    }
}
.private-body {
    padding: 75px 0 75px 60px;
    @media (max-width: 768px) {
        padding: 30px 0 30px 30px;
    }
}
.private-body-content {
    max-width: 305px;
}
.private__image {
    height: 100%;
    // margin: 20% auto;
}
.logo {
    max-height: 100%;
    max-width: 100%;
}
.private-body__title {
    font-family: 'Cormorant SC';
    font-size: 50px;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #fff;
    margin: 0 0 30px 0;
    @media (max-width: 768px) {
        font-size: 35px;
        margin: 0 0 20px 0;
    }
}
.private-body__text {
    font-size: 15px;
    line-height: 25px;
    color: #fff;
    margin: 0 0 50px 0;
    @media (max-width: 768px) {
        margin: 0 0 30px 0;
    }
}
.private-body-buttons {
    display: flex;
    align-items: center;
}
.private-body-buttons__link {
    font-family: 'Bebas';
    text-transform: uppercase;
    color: #fff;
    font-size: 15px;
    text-decoration: underline;
    margin-left: 15px;
    letter-spacing: 1.5px;
}
.private-body-buttons__item {
    @media (max-width: 768px) {
        width: 140px;
        // padding: 0 25px 0 25px;
        height: auto;
        font-size: 8px;
        letter-spacing: 1px;
    }
}
// Второй блок
.products {
    margin: 0 0 40px 0;
    @media (max-width: 768px) {
        margin: 0;
    }
}
.products-body {
    display: flex;
    @media (max-width: 768px) {
        flex-wrap: wrap;
    }
}
.products_column {
    flex: 0 0 25%;
    margin: 0 0 40px 0;
    @media (max-width: 768px) {
        flex: 0 0 50%;
    }
    @media (max-width: 380px) {
        flex: 1 1 100%;
    }
}
.products-item {
    display: flex;
    flex-direction: column;
}
.products-item__image {
    display: block;
    // padding: 0 0 100% 0;
    padding-bottom: 15px;
    @media (max-width: 380px) {
        margin: 0 0 15px 0;
    }
}
.products-item__title {
    height: 50px;
    overflow: hidden;
    padding: 0 10px 0 0;
    max-width: 185px;
    font-family: 'Cormorant SC';
    letter-spacing: 2.5px;
    text-transform: uppercase;
    color: #000;
    font-size: 25px;
    margin: 0 0 30px 0;
    @media (max-width: 380px) {
        max-width: none;
        height: auto;
        overflow: visible;
        margin: 0 0 20px 0;
    }
}
.products-item__text {
    padding: 0 10px 0 0;
    max-width: 185px;
    font-size: 15px;
    line-height: 25px;
    margin: 0 0 25px 0;
    @media (max-width: 380px) {
        max-width: none;
        margin: 0 0 15px 0;
    }
}
.products-item__btn {
    margin: 0 20px 29px 0;
    @media (max-width: 768px) {
        padding: 0 12px 0 12px;
        height: auto;
        font-size: 8px;
        letter-spacing: 1px;
        text-align: center;
    }
}
.products-item__link {
    font-family: 'Bebas';
    text-transform: uppercase;
    color: #000;
    font-size: 15px;
    letter-spacing: 1.5px;
    text-decoration: underline;
}
// Третий блок
.why-top {
    display: flex;
    background-color: #000;
}
.why-top__column {
    flex: 0 0 50%;
}
.why-top__text {
    text-align: right;
    color: #fff;
    font-family: 'Cormorant SC';
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 50px 60px 50px 0;
}
.why-top__image {
    height: 100%;
}
.why-body {
    padding: 50px 0 0 0;
    background-color: #ebebeb;
}
.why-body-row {
    display: flex;
    flex-wrap: wrap;
}
.why-body__column {
    flex: 0 0 50%;
    margin: 0 0 50px 0;
}
.why-body-item {
    display: flex;
}
.why-body-item__icon {
    // width: 100px;
    flex: 0 0 100px;
    height: 100px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.why-body-item-body {
    flex: 1 1 100%;
    display: flex;
    flex-direction: column;
    padding: 0 0 0 11px;
}
.why-body-item-body__tittle {
    flex: 1 1 auto;
    font-family: 'Cormorant SC';
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-size: 25px;
}
.why-body-item-body__text {
    font-size: 15px;
    padding: 0 15px 0 0;
    line-height: 25px;
}
